.container-all{
	display: flex; 
	align-items: flex-start;
	/*align-items: flex-end;*/
	/*align-items: center; */

	/*flex-direction: column; */

	/*justify-content: flex-end;*/
	/*justify-content: center;*/ 
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	justify-content: space-evenly;

}

.premier-league{
	order:2;
	width: 20%;		
	/*flex-grow: 2; */
}

.championship{
	order:1;
	width: 20%;
}

.league-one{
	order:4;
	width: 20%;

}

.league-two{
	order:3;
	width: 20%;
}
